.nav-top {
    background: linear-gradient(to right, rgba(35, 47, 87, 1) 0%, rgba(37, 53, 96, 1) 10%, rgba(43, 67, 117, 1) 26%, rgba(63, 124, 203, 1) 79%, rgba(69, 139, 226, 1) 100%);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    z-index: 996;
    width: 100%;
    min-height: 56px;
    background: linear-gradient(to right, rgba(35, 47, 87, 1) 0%, rgba(37, 53, 96, 1) 10%, rgba(43, 67, 117, 1) 26%, rgba(63, 124, 203, 1) 79%, rgba(69, 139, 226, 1) 100%);
}

nav .searchnav-trigger {
    margin: 0 18px;
}

nav .searchnav-trigger i {
    height: 56px;
    line-height: 56px;
}

.nav-bottom .nav-content {
    margin-top: 5px;
    width: 100%;
}

#add-location {
    width: 45px;
    height: 45px;
}

.content {
    padding-top: 53px;
    /*padding-bottom: 34px;*/
    padding-bottom: 0;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav .user-view .circle {
    margin: 0 auto;
}

.sidenav li > a > i {
    margin-right: 20px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 0;
    margin-bottom: 0;
    height: 56px;
}

.input-field input[type=search] ~ .fas {
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transition: .3s color;
    transition: .3s color;
    height: 100%;
}

nav .input-field {
    height: 56px;
}

.nav-wrapper .input-field input[type=search] {
    padding-left: 1rem;
    width: 100%;
}

.card .card-content {
    padding: 8px;
}

.destination-title {
    font-size: 1.1rem;
}

.row .col {
    padding: 0 0.5rem;
}

.card {
    height: 260px;
}

.user-interaction {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.fa-heart {
    color: red;
}

.fav-count {
    padding-right: 10px;
}

nav .brand-logo {
    min-width: 130px;
}

.card img {
    max-height: 140px;
    width: auto !important;
    overflow: hidden;
    margin: 0 auto;
}

.card a {
    color: inherit;
}