#my-location {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    font-size: 1.5rem;
}

#back i {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.nav-top {
    background: linear-gradient(to right, rgba(35, 47, 87, 1) 0%, rgba(37, 53, 96, 1) 10%, rgba(43, 67, 117, 1) 26%, rgba(63, 124, 203, 1) 79%, rgba(69, 139, 226, 1) 100%);
}

#map {
    height: calc(100% - 56px);
}